@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            Expenses Tracker allows you create an account and log in.
            When logged in, you can see, edit and delete your expenses.
            You can filter expenses by dates from-to, print expenses per week with total amount
            and average day spending.
        </p>
    </div>
</div>