@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        <form method="post" action="">
            @*<input type="hidden" name="ExpensesId" value="@ViewBag.ExpensesId" />*@

        </form>
    </div>
</body>
</html>
